header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    header .logo {
        width: 400px;
    }
}
header .logo {
    width: 400px;

    .navbar-nav .nav-link {
        color: green;
        
    }

}