#slogan {
    color: $color-252422;
    margin-top: 170px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font: 50px;
    }
}
