$font-family: 'Inter', sans-serif;
$color-lightgray: lightgray;
$color-white: white;
$color-green: green;
$color-darkgreen: darkgreen;
$color-black: black;
$color-CCC5B9: #CCC5B9;
$color-252422: #252422;
