@import 'base/reset';
@import 'base/typography';
@import 'layout/header';

/**mixing**/
@mixin flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

/**slogan **/

#slogan1 {
    color: darkgreen;
    margin-top: 170px;
    margin-bottom: 50px;
    @include flexbox;

    h1 {
        font-size: 50px;
    }
}

/** memes **/
#cardmemes .col {
    background-color: rgb(101, 128, 92);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;

    a {
        text-decoration: none;
        color: black;
    }

    img {
        width: 100%;
        height: auto;
    }
}


@media (min-width: 992px) {
    #cardmemes .col {
        width: 23%;
        margin-right: 1%;
        margin-left: 1%;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    #cardmemes .col {
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
    }
}

@media (max-width: 575px) {
    #cardmemes .col {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

/** contacto **/
.contacto {
    width: 100%;
    margin-left: 5%;

    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
    }

    img {
        width: 50px;
    }

    h3 {
        text-align: left;
    }

    h2 {
        text-align: center;
    }

}

#imgcontact {
    display: flex;
    width: 95%;
    margin: 0 auto;
    max-width: 1140px;

}

#sobre {
    width: 70px;
    margin-left: 2%;
    img {
        width: 100%;
    }
}

.form-group {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.container h2 {
    text-align: center;
}

/** enviar aporte**/

.container p {
    text-align: center;
    margin-top: 20px;
}

.video {
    text-align: center;
    margin-top: 20px;

    iframe {
        width: 100%;
        height: 400px;
    }

    @media (max-width: 767px) {
        iframe {
            height: 200px;
        }
    }
}

#reglas {
    text-align: center;
     
}


/**login**/
#registro {
    margin-bottom: 100px;
}

#formulario1 {
    color: #2b7927;
    text-align: center;
    max-width: 800px;
}

.btn {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 320px) and (max-width: 540px) {
    header .logo {
        width: 80%;
    }
}

@import 'layout/footer'